<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{% url 'kitchen:cook-detail' pk=user.id %}">{{ user.username }}</a></li>
     <li class="list-group-item"><form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
     </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
  <br>
  <li class="list-group-item"><a href="{% url 'kitchen:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'kitchen:dish-type-list' %}">All DishTypes</a></li>
  <li class="list-group-item"><a href="{% url 'kitchen:dish-list' %}">All Dishes</a></li>
  <li class="list-group-item"><a href="{% url 'kitchen:cook-list' %}">All Cooks</a></li>
</ul>