{% extends "base.html" %}
{% block content %}
  <h1>Cook List <a style="float: right" href="{% url 'kitchen:cook-create' %}">+</a></h1>
  {% if cook_list %}
    <ul>
      {% for cook in cook_list %}
        <li><a href="{{ cook.get_absolute_url }}">{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</a>
          {% if cook == request.user %}
            (Me)
          {% endif %}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-muted mt-3">There are no Cooks yet</p>
  {% endif %}
{% endblock %}