{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>Dish List <a class="btn btn-primary" style="float:right" href="{% url 'kitchen:dish-create' %}">+</a></h1>
  <form class="form-inline" action="" method="GET">
  {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="🔎" >
  </form>
  <br>
  {% if dish_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Dish type</th>
      </tr>
    {% for dish in dish_list %}
      <tr>
        <td><a href="{{ dish.get_absolute_url }}">{{ dish.id }}</a></td>
        <td>{{ dish.name }}</td>
        <td>{{ dish.price }}</td>
        <td>{{ dish.dish_type}}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no Dishes</p>
  {% endif %}
{% endblock %}
